*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.page {
    width: 100%;
    height: 100vh;
    background-image: -webkit-linear-gradient(45deg, #08001f, #30197d);
    color: #fff;
    position: relative;
}
.container {
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width:767px) {
    .container {
        width: 340px;
    }
}
.container::before {
    content: '';
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 5px;
    top: -50px;
    left: -50px;
    background-color: #f41b75;
    z-index: -1;
}
.container::after {
    content: '';
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    bottom: -50px;
    right: -30px;
    background-color: #419aff;
    z-index: -1;
}
@media (max-width:767px) {
    .container {
        height: 107px;
    }
    .container::before {
        width: 120px;
        height: 120px;
        top: -36px;
        left: -8px;
    }
    .container::after {
        width: 120px;
        height: 120px;
        bottom: -38px;
        right: 1px;
    }
}
.clock {
    width: 100%;
    height: 100%;
    background-color: rgba(235, 0, 255, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
}
.clock span {
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.clock span::after {
    font-weight: normal;
    font-size: 14px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
.clock #hrs::after {
    content: 'HOURS';
}
.clock #min::after {
    content: 'Minutes';
}
.clock #sec::after {
    content: 'Seconds';
}
@media (max-width:767px) {
    .clock span {
        font-size: 70px;
        width: 59px;
    }
    .clock span::after {
        font-size: 10px;
    }
}